* {
    background-color: bisque;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin: 0 auto;
    text-align:center;
    /* width: 630px; */
}

h1 {
    /* width: 980px; */
}

.card, .contend, .buttom {
    background-color: burlywood;
}

.card { 
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 2px solid blue;  
}

.center {
    text-align: center;
    /* width: 980px; */
    
}

.image {
    padding: 0px;    
}

img {
    width: 200px;
}